table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #a437b9;
    text-align: center;
    min-width: 100px;
    user-select: none;
  }
  
  th {
    background-color: #e9ace2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #e9ace2;
  }
  
  tr:nth-child(odd) {
    background-color: #f8dbf8;
  }
  
  tr:hover {
    background-color: #993a92;
  }
  